# Environment variables
.env
frontend/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# ML outputs
ml/telemetry_power_results.png
ml/*.png

# YOLO & CV
*.pt
CV/YOLO_RESULTS/
runs/detect/

