# Environment variables
.env
frontend/.env

# Node
node_modules/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# ML outputs
ml/telemetry_power_results.png
ml/*.png

# YOLO & CV
*.pt
CV/YOLO_RESULTS/
runs/detect/
!CV/YOLO_RESULTS/run_20260210_194054/runs/detect_train/weights/best.pt
# IDE
.vscode/
.idea/
*.swp
*.swo
